NodeRedFlow.json
[{"id":"caac7474.c3d498","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ba2c991.380368","type":"inject","z":"caac7474.c3d498","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":337.00000762939453,"y":191.00000953674316,"wires":[["b31bd80c.80df88"]]},{"id":"4dfba933.f5c138","type":"function","z":"caac7474.c3d498","name":"Prediction","func":"var token=msg.payload.token;\nvar Yearly_Income = global.get(\"Yearly_Income\");\nvar Children = global.get(\"Children\");\nvar Cars = global.get(\"Cars\");\nvar Commute_Distance = global.get(\"Commute_Distance\");\nvar Age = global.get(\"Age\");\nvar Marital_Status = global.get(\"Marital_Status\");\nvar Gender = global.get(\"Gender\");\nvar Education = global.get(\"Education\");\nvar Occupation = global.get(\"Occupation\");\nvar Home_Owner = global.get(\"Home_Owner\");\nvar Region = global.get(\"Region\");\n\nmsg.payload={\"fields\":['Yearly_Income','Children','Cars','Commute_Distance','Age','Marital_Status', 'Gender','Education','Occupation','Home_Owner','Region'],\"values\":[[Yearly_Income,Children,Cars,Commute_Distance,Age,Marital_Status,Gender,Education,Occupation,Home_Owner,Region]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":653.0000076293945,"y":444.0000047683716,"wires":[["154563f2.ddfc8c"]]},{"id":"a0471ccc.9bf78","type":"http request","z":"caac7474.c3d498","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":503.00000762939453,"y":384.0000047683716,"wires":[["4dfba933.f5c138","47c0eae1.6f02c4"]]},{"id":"154563f2.ddfc8c","type":"http request","z":"caac7474.c3d498","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/cd5063b7-4486-4586-a824-4d2256fb41f6/deployments/623d1095-5ba8-4df4-9e4d-3e44a506fdc8/online","tls":"","proxy":"","authType":"basic","x":783.0000076293945,"y":384.0000047683716,"wires":[["3143712f.09f02e","6464cbe6.71cbe4"]]},{"id":"b31bd80c.80df88","type":"function","z":"caac7474.c3d498","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"efd0063a-e53b-407f-934b-4643181bc7d3\"\nvar password=\"b0fe65fe-7324-4375-bca0-8ff7b311deb7\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Yearly_Income\", msg.payload.Yearly_Income)\nglobal.set(\"Children\", msg.payload.Children)\nglobal.set(\"Cars\", msg.payload.Cars)\nglobal.set(\"Commute_Distance\", msg.payload.Commute_Distance)\nglobal.set(\"Age\", msg.payload.Age)\nglobal.set(\"Marital_Status\", msg.payload.Marital_Status)\nglobal.set(\"Gender\", msg.payload.Gender)\nglobal.set(\"Education\", msg.payload.Education)\nglobal.set(\"Occupation\", msg.payload.Occupation)\nglobal.set(\"Home_Owner\", msg.payload.Home_Owner)\nglobal.set(\"Region\", msg.payload.Region)\nreturn msg;\n","outputs":1,"noerr":0,"x":543.0000076293945,"y":204.00000476837158,"wires":[["a0471ccc.9bf78"]]},{"id":"3143712f.09f02e","type":"function","z":"caac7474.c3d498","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":923.0000076293945,"y":444.0000047683716,"wires":[["d14f720d.dfc4c"]]},{"id":"e6d4e2c9.3140b","type":"ui_form","z":"caac7474.c3d498","name":"","label":"Enter the values","group":"1c3befa3.eb229","order":6,"width":0,"height":0,"options":[{"label":"Yearly_Income","value":"Yearly_Income","type":"number","required":true},{"label":"Children","value":"Children","type":"number","required":true},{"label":"Cars","value":"Cars","type":"number","required":true},{"label":"Commute_Distance","value":"Commute_Distance","type":"number","required":true},{"label":"Age","value":"Age","type":"number","required":true},{"label":"Marital_Status","value":"Marital_Status","type":"number","required":true},{"label":"Gender","value":"Gender","type":"number","required":true},{"label":"Education","value":"Education","type":"number","required":true},{"label":"Occupation","value":"Occupation","type":"number","required":true},{"label":"Home_Owner","value":"Home_Owner","type":"number","required":true},{"label":"Region","value":"Region","type":"number","required":true}],"formValue":{"Yearly_Income":"","Children":"","Cars":"","Commute_Distance":"","Age":"","Marital_Status":"","Gender":"","Education":"","Occupation":"","Home_Owner":"","Region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":353.00000762939453,"y":284.0000047683716,"wires":[["b31bd80c.80df88"]]},{"id":"d14f720d.dfc4c","type":"ui_text","z":"caac7474.c3d498","group":"1c3befa3.eb229","order":7,"width":0,"height":0,"name":"Bike_Buyer","label":"BIke_Buyer","format":"{{msg.payload}}","layout":"row-spread","x":1019.0000305175781,"y":368.0000104904175,"wires":[]},{"id":"47c0eae1.6f02c4","type":"debug","z":"caac7474.c3d498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":663.0000076293945,"y":324.0000047683716,"wires":[]},{"id":"6464cbe6.71cbe4","type":"debug","z":"caac7474.c3d498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":868.0000076293945,"y":304.0000047683716,"wires":[],"l":false},{"id":"1c3befa3.eb229","type":"ui_group","z":"","name":"Predict","tab":"5ff8d4df.3b0f9c","disp":false,"width":"12","collapse":false},{"id":"5ff8d4df.3b0f9c","type":"ui_tab","z":"","name":"Bike Predictor","icon":"dashboard","disabled":false,"hidden":false}]